body{
    margin: 10px;
    padding: 10px;
    background-color: #c4d3e2;
    font-family: Baghdad;
    box-sizing: border-box;
}

p{
    font-size: 1em;
    line-height: 1.5em;
}

header, footer{
    width: 100%;
    padding: 20px 0;
}

section{
    display: block;
    flex-flow: column;
    justify-content: center;
    width: 80%;
    padding-bottom: 20px;
    margin: 20px auto;
}

h1{
   margin: 20px 0;
    width: 90%;
}

h2{
    margin: 20px 0;
    width: 90%;
}

h3{
    margin: 30px 0;
    width: 90%;
}

h4{
    margin: 30px 0;
    width: 70%;
}
.comp{
    display:flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.comp p{
    flex: 0 0 40%;
}
.conteneur-barre{
    flex: 0 0 30%;
    border-radius: 10px;
    background-color: grey;
    border-bottom: 0 ridge grey;
}
.barre{
    display: block;
    height: 80%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.c85{
    width: 85%;
    background-color: #8B8;
}
.c90{
    width: 100%;
    background-color: #4B8;
}
.c95{
    width: 100%;
    background-color: #4B8;
}
.c100 {
    width: 100%;
    background-color: #4B8;
    border-radius: 5px;
}

.comp2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.conteneur-barre2{
    flex: 0 0 80%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: grey;
}

h1{
    animation-delay: inherit;
    animation-direction: alternate;
    animation-duration: 3s;
}

.exp-brevet{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.exp{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.exp-bac{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Formations{

}