body{
    text-shadow: 2px 2px 3px black; /*Ombrage du texte*/
    background-color: #212121;
    font-family: "Gill Sans", sans-serif;
}
h1{
    padding-top: 5vw;
    margin-right: 5vw;
    font-size: 3vw;
    text-align: center;
    text-decoration: underline goldenrod;
    color: white;
}
figcaption{
    margin-top: 2vw;
    font-size: 2vw;
}
.interet {
    display: inline-table;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1vw;
    margin-left: 5vw;
}

.interet img{
    width: 150px;
    height: 150px;
    border-radius: 55px;
    box-shadow: 8px 3px 5px dimgray;
}
a{
    font-size: 80%;
}
a span{
    position:absolute;
    margin-top:50px;
    margin-right:10px;
    color: white;
    background: #2B2B2B;
    padding:1px;
    border-radius:30px;
    box-shadow:4px 5px 3px goldenrod;
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
}
a:hover span, a:focus span{
    opacity :1;
    transform:scale(1) rotate(0);
}