/*HEADER & FOOTER*/
header, footer{
    width: 100%;
    padding: 20px 0px;
}

footer{
    width: 100%;
    background-color: grey;
}

body{
    color: white;
    font-family: "Gill Sans", sans-serif;
}
/*NAVBAR*/
header {
    padding-top: 0px;
}

.navbar{
    text-align: center;
}

nav li{
    text-shadow: 2px 2px 3px black; /*Ombrage du texte*/
    list-style: none;
    display: inline;
    padding-left: 2%;
    font-size:1vw;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: #ff7813;
}

/*BODY*/
.name {
    -webkit-text-stroke: 2px black; /*contour du texte*/
    text-shadow: 2px 2px 3px black; /*Ombrage du texte*/
    padding-top: 6%;
    text-align: center;
    font-size:8vw;
    margin-bottom: 0;
}

.intro{
    text-shadow: 2px 2px 3px black; /*Ombrage du texte*/
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 2vw;
}

/*SECTION*/
.first {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*DEUXIEME PAGE*/
.secondpage{
    background-color: #2B2B2B;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.title,
.descri{
    padding-left: 30vw;
    padding-right: 20vw;
}

.descri{
    color: #7A7A7A;
}

.colonne{
    padding-top: 4vw;
    font-size: 2vw;
}

.logo{
    position: absolute;
    padding-left: 5vw;
    width: 15vw;
    height: 10vw;
}



